* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container {
    width: 60%;
    margin: auto;
    display: flex;
}

.square, .lozenge, .round {
    width: 10em;
    height: 10em;
    margin: 2em;
    border: 1px solid black;
}

.round {
    border-radius: 50%;
}

